/* You can add global styles to this file, and also import other style files */

@import "./_var";
@import "./_mixins";
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.bg-blue {
    background-color: $bg-blue;
}

.font-12 {
    font-size: 12px;
}

.bg-lg-grey {
    background-color: $bg-lg-grey
}


/*
   * Sidebar
   */

.sidebar {
    z-index: 1;
    /* Behind the navbar */
    padding: 48px 0 0;
    background-color: $bg-dark-blue;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: sticky;
    top: 50px;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar {
    .nav-link {
        font-weight: 500;
        color: $bg-white;
        &.active {
            color: #007bff;
        }
        &:hover,
        &:active {
            .feather {
                color: inherit;
            }
        }
    }
    .feather {
        margin-right: 4px;
        color: #999;
    }
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
   * Content
   */

[role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
}

.userImg {
    width: 20px;
}

.arrow-lr {
    &:before {
        content: '';
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-left-color: transparent;
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-left-color: transparent;
        position: absolute;
        position: absolute;
        right: -16px;
    }
    &:before {
        border-top-color: $bg-white;
        border-bottom-color: $bg-white;
        border-right-color: $bg-white;
        position: absolute;
    }
    &:after {
        border-left-color: $bg-white;
    }
    .list-inner {
        width: calc(100% - 78px);
        height: 54px;
        display: inline-flex;
        background-color: $bg-white;
        white-space: nowrap;
    }
}

.list-data-container:not(.alert-container) {
    border-left: 1px solid #cfcfcf;
}

.list-inner {
    background-color: $bg-white;
}

.bd-callout {
    padding: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: red;
}


/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: $bg-dark-blue;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.h-85 {
    min-height: calc(100vh - 102px);
}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
*******************************/

.modal-left.modal-dialog,
.modal-right.modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    width: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-left .modal-content,
.modal-right .modal-content {
    height: 100%;
    overflow-y: auto;
}


/*Left*/

.fade .modal-dialog.modal-left {
    left: -320px;
    @include modal-animate(left);
}

.fade.show .modal-left {
    left: 0;
}


/*Right*/

.fade .modal-dialog.modal-right {
    right: -500px;
    @include modal-animate(right);
}

.fade.show .modal-right {
    right: 0;
}


/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}


/* End Modal css */